#image {
    width: 100%;
    height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
#main{
    background-color: #eee;
}
#tribute-info{
    margin-left: 16%;
    margin-right: 12%;
}